<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.and_assignment">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ANDAssignment">
        <activity android:name=".ui.Result" />
        <activity android:name=".ui.Result1" />
        <activity android:name=".ui.Result2"/>
        <activity android:name=".ui.Result3"/>
        <activity android:name=".ui.Result4"/>
        <activity android:name=".ui.Result5"/>
        <activity android:name=".ui.Result6"/>
        <activity android:name=".ui.Result7"/>
        <activity android:name=".ui.Result8"/>
        <activity android:name=".ui.Result9"/>

        <activity android:name=".ui.MainActivity1" />
        <activity android:name=".ui.SigninActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>